body {
    background-color: black;
}

.navbar {
    background-color: blue;
}
.navbar-brand, .nav-link{
    color: white;
}

.foto {
    width: 150px;
    height: 170px;
}

.presentacion {
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
}

