* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: green;
}

.navbar-brand {
    color: white;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 30px;
}

.nav-link {
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
}

.foto {
    width: 180px;
    height: 230px;
    border-radius: 50%;
}

.informacion {
    margin: 0;
    color: black;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
}
.presentacion {
    margin: 0%;
    padding: 0%;
    color: black;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.presentacion1,
.educacion {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 40px;
}

.card-title {
    color: black;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 25px;
}

.card-text {
    margin: 0%;
    color: black;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 18px;
}

.experiencia {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 40px;
}

.card-header {
    background-color: chocolate;
}

.card {
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.footer {
    display: flex;
    background-color: green;
    justify-content: space-around;
}

.footer a {
    display: flex;
    font-size: 30px;
    color: white;
}